[submodule "output"]
	path = output
	url = https://github.com/dciabrin/dciabrin.github.io.git
[submodule "bootstrap"]
	path = themes/responsive4/sass/vendor/bootstrap
	url = https://github.com/twbs/bootstrap
	branch = v4-dev
