[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
webassets = "*"
yuicompressor = "*"
lessc = "*"
lesscpy = "*"
bulrush = "*"
markdown = "*"
cssmin = "*"
libsass = "*"
pyscss = "*"
beautifulsoup4 = "*"
imagesize = "*"

[requires]
python_version = "3.7"
