{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% elif article.headline %}
        <meta name="description" content="{{ article.headline }}">
    {% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}

    {% for author in article.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}">
    {% endfor %}
{% endblock %}

{% block twitter_card %}
    {% for name,link in SOCIAL if name in ['twitter'] %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        <meta name="twitter:title" content="{{ article.title|striptags }}">

        {% if article.twitter_image %}
            {% if article.twitter_image|lower|truncate(4, True, '') == "http" %}
                <meta property="twitter:image" content="{{ article.twitter_image }}">
            {% else %}
                <meta property="twitter:image" content="{{ SITEURL }}/{{ article.twitter_image }}">
            {% endif %}
        {% elif article.twitter_card %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ article.twitter_card }}">
        {% elif article.header_cover %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ article.header_cover }}">
        {% else %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}

        {% if description %}
            <meta name="twitter:description" content="{{ description }}">
        {% elif article.headline %}
            <meta name="twitter:description" content="{{ article.headline }}">
        {% else %}
            <meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block opengraph %}
	{{ super() }}
	<meta property="og:type" content="article">
        {% for author in article.authors %}
            <meta property="article:author" content="{{ SITEURL }}/{{ author.url }}">
        {% endfor %}
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
	<meta property="og:title" content="{{ article.title|striptags }}">
	<meta property="article:published_time" content="{{ article.date }}">
        {% if description %}
            <meta property="og:description" content="{{ description }}">
        {% elif article.headline %}
            <meta property="og:description" content="{{ article.headline }}">
        {% elif article.summary %}
            <meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}

        {% if article.og_image %}
            {% if article.og_image|lower|truncate(4, True, '') == "http" %}
                <meta property="og:image" content="{{ article.og_image }}">
            {% else %}
                <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}">
            {% endif %}
        {% elif article.header_cover %}
            <meta property="og:image" content="{{ SITEURL }}{{ article.header_cover }}">
        {% elif HEADER_COVER %}
            <meta property="og:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
        {% else %}
            <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}
{% endblock %}

{% block header %}
    <!-- Page Header -->
    <header class="intro-header">
    {% if article.header_cover %}
        <div id="header-background" style="background-image: url('{{ SITEURL }}/{{ article.header_cover }}'); --parallax-ratio: {{ article.header_cover | parallax }};">
    {% elif ARTICLE_COVER %}
        <div id="header-background" style="background-image: url('{{ SITEURL }}/{{ ARTICLE_COVER }}'); --parallax-ratio: {{ ARTICLE_COVER | parallax }};">
    {% elif HEADER_COLOR %}
        <div id="header-background" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <div id="header-background" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
    {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="post-heading">
                        <!-- <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; -->
                        <span class="text-light meta">{{ article.locale_date }}</span>
                        <h1 class="text-light">{{ article.title|striptags }}</h1>
                        {% if article.headline %}
                            <h3 class="subheading">{{ article.headline }}</h3>
                        {% endif %}
                        <span class="meta">
                          {% if article.tags %}
                          &nbsp;
                          {% for tag in article.tags %}
                          <a class="btn btn-outline-secondary btn-sm" href="{{ SITEURL }}/{{ tag.url }}"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag | escape | upper }}</a>
                          {% if not loop.last %}&nbsp;{% endif %}
                          {% endfor %}
                          {% endif %}
                        </span>
                        {% import 'translations.html' as translations with context %}
                        {{ translations.translations_for(article) }}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Post Content -->
    <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
        <article>
            {{ article.content }}
        </article>
    </div>
    </div>

    {% include 'static_share_buttons.html' %}
    <hr />
    {% include 'comments_section.html' %}

    {% include 'nav_articles.html' %}

{% endblock content %}
