{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    <header class="intro-header">
    {% if page.header_cover %}
        <div id="header-background" style="background-image: url('{{ SITEURL }}/{{ page.header_cover }}'); --parallax-ratio: {{ page.header_cover | parallax }}; background-color: {{ page.header_cover | base_color }};">
    {% elif HEADER_COLOR %}
        <div id="header-background" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <div id="header-background" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="post-heading">
                        <h1 class="text-light">{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
    <article>
        {{ page.content }}
    </article>
    </div>
    </div>
    <hr />
{% endblock content %}
